<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devicesilencingapp">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".time.TimeBroadcastReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name=".time.TimeService"
            android:enabled="true" />

        <!--
        * The "exported" attribute describes whether or not someone else can be allowed to use it.

        * So if you have "exported=false" on an Activity, no other app, or even the Android system itself, can launch it.
        * Only you can do that, from inside your own application.

        * So settings "exported=false" on the Activity marked as the LAUNCHER Activity
          would basically tell the system that it cant launch your application

        * https://stackoverflow.com/questions/49471423/android-manifests-androidexported-false-prevents-app-from-running-on-device

        * https://developer.android.com/guide/topics/manifest/service-element
        -->
        <service
            android:name=".location.service.GPSTrackerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"/>

        <service
            android:name=".services.GeofencesService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"/>

        <service
            android:name=".services.GeofencesManagingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>